<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Geleia Real</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/jSbd6Fqs/2281595.jpg">

	<div padding>


		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/jSbd6Fqs/2281595.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Geleia Real</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">

			Rica em vitaminas do complexo B, além das vitaminas C e E, bem como rica em proteínas,
			antioxidantes entre outros e largamente utilizado na <b>prevenção e tratamento de doenças do
			trato respiratório</b>.
		</p>

		<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

		<p style="font-size: 1.2em;">
			<li>Melhora a saúde do cérebro.</li>
			<li>Melhora a saúde cardiovascular.</li>
			<li>Ajuda na melhora da pele.</li>
			<li>Energético natural.</li>
			
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Podendo ser usados em pratos doces e salgados, utilizado como adoçante
			natural, molhos entre outros..
		</p>

	</div>

</ion-content>