<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Vegetais Verdes</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/zGMcKp6z/8608.jpg">



	<div padding>


		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/HsC4D6ZK/427.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Brócolis</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Vegetal ramoso que possui grande quantidade de acido fólico que ajuda na
			formação de glóbulos brancos que são <b>responsáveis pelo auxilio na defesa do organismo</b>.
		</p>

			<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

			<p style="font-size: 1.2em;">
				<li>Ajuda no emagrecimento.</li>
				<li>Tem ação desintoxicante.</li>
				<li> Ajuda no combate ao câncer.</li>
				<li> Ajuda a controlar o colesterol e doenças cardíacas.</li>
				<li> Combate radicais livres.</li>
				<li> Ajuda a regular o intestino.</li>
			</p>

			<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

			<p style="font-size: 1.2em;">
				Utiliza-se os talos, ramos e folhas. Pode ser utilizado em saladas,
				branqueados e em mais singulares como arroz, entre outros. Para conseguir um total aproveitamento dos
				nutrientes a ingestão cru é única que não ocorre a perca, poder usada em saladas e sucos naturais.
			</p>

			<!-- Couve -->
			<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/Przbt10q/couve-1595025720411-v2-615x300.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>Couve</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">


				Grande na produção de compostos fenólicos, <b>previne a absorção pelo
				organismo de patologias que baixam o sistema imunológico.</b> Além de possuir grande quantidade de ferro em sua
				composição sendo largamente usado em tratamentos alternativos para anemia.

			</p>

				<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

				<p style="font-size: 1.2em;">
					<li>Reduz inchaço do corpo.</li>
					<li>Poucas calorias.</li>
					<li> Ajuda a regular o intestino.</li>
					<li> Ajuda na prevenção do câncer.</li>
					<li> Ajuda a prevenir e tratar anemia.</li>
					<li> Ajuda a reduzir níveis de colesterol.</li>
				</p>

				<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

				<p style="font-size: 1.2em;">
					A melhor maneira é o consumo cru, para aproveitar todos nutrientes, podendo ser em saladas e sucos,
					porem pode ser usada de outras maneiras como refogados, sopas entre outros metodos. Para obter os
					beneficio pode ser consumido 5 folhas por dia.
				</p>

				<!-- Rúcula -->
				<ion-list>
					<ion-item>
						<ion-avatar item-start>
							<img src="https://i.postimg.cc/jjCyQm2W/rucula-1590789077617-v2-1254x836.jpg">
			</ion-avatar>
							<h2 style="font-size: 1.2em;"><b>Rúcula</b> </h2>
					</ion-item>
				</ion-list>
				<p style="font-size: 1.2em;">


					Forte na produção de ácido fólico,
					<b>auxilia na formação de glóbulos brancos que auxiliam no fortalecimento do sistema definido.</b>

				</p>

					<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

					<p style="font-size: 1.2em;">
						<li> Ajuda na prevenção da catarata.</li>
						<li> Ajuda a combater a osteoporose.</li>
						<li> Ajuda na prevenção do diabetes.</li>
						<li> Ajuda na prevenção do câncer.</li>
						<li> Auxilia na perda de peso.</li>
						<li> Melhora a saúde do coração.</li>
					</p>

					<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

					<p style="font-size: 1.2em;">
						Pode ser utilizado em saladas e até preparações como maionese de rúcula, sucos e sanduíches.
					</p>

					<!-- Mostarda -->
					<ion-list>
						<ion-item>
							<ion-avatar item-start>
								<img src="https://i.postimg.cc/FzbSHQW6/benefc3adcios-da-folha-de-mostarda-para-a-sac3bade-1.jpg">
			</ion-avatar>
								<h2 style="font-size: 1.2em;"><b>Mostarda</b> </h2>
						</ion-item>
					</ion-list>
					<p style="font-size: 1.2em;">


						Rica em ferro, função primordial que é a formação de glóbulos brancos que auxiliam na formação
						do sistema imunológico, bem como rica em vitaminas como cálcio, manganês e potássio.

					</p>

						<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

						<p style="font-size: 1.2em;">
							<li> Ajuda na proteção do fígado.</li>
							<li> Combate radicais livres.</li>
							<li> Possui ação antioxidante.</li>
							<li> Ação anti-inflamatória.</li>
							<li> Ajuda a combater a osteoporose.</li>

						</p>

						<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

						<p style="font-size: 1.2em;">
							Pode ser utilizada em saladas, refogados e nos mais diversos pratos.
						</p>

						<!-- Agrião -->
						<ion-list>
							<ion-item>
								<ion-avatar item-start>
									<img src="https://i.postimg.cc/BQsDwXtf/agriao-3465-l.jpg">
			</ion-avatar>
									<h2 style="font-size: 1.2em;"><b>Agrião</b> </h2>
							</ion-item>
						</ion-list>
						<p style="font-size: 1.2em;">


							Nessa folhagem, conhecida pelo amargor, obtemos grande quantidade de cálcio, ferro, vitamina
							K, B entre outras, que aliados
							<b>auxiliam na prevenção e tratamento de comorbidades de base como diabetes</b>, entre
							outras funções explanadas
							nos outros componentes.

						</p>

							<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

							<p style="font-size: 1.2em;">
								<li> Ajuda na saúde dos olhos e da pele.</li>
								<li> Previne doenças cardíacas.</li>
								<li> Ajuda na prevenção da anemia.</li>
								<li> Ajuda no fortalecimento dos ossos.</li>
								<li> Ajuda a melhorar a digestão.</li>
								<li> Ajuda a perda de pesso.</li>
								<li> Ajuda no combate de doenças respiratórias.</li>
								<li> Ajuda na prevenção do câncer.</li>


							</p>

							<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

							<p style="font-size: 1.2em;">
								Pode ser utilizada em saladas, cozidos, sopas. A sua utiliação cru mantem todos
								nutrientes.
							</p>

							<ion-grid>
								<ion-row>

									<ion-col>
										<ion-list>
											<ion-item>
												<ion-avatar item-start>
													<img src="https://i.postimg.cc/BQsDwXtf/agriao-3465-l.jpg">
			</ion-avatar>
													<ion-avatar item-start>
														<img src="https://i.postimg.cc/BQsDwXtf/agriao-3465-l.jpg">
			</ion-avatar>
														<ion-avatar item-start>
															<img src="https://i.postimg.cc/BQsDwXtf/agriao-3465-l.jpg">
			</ion-avatar>
															<ion-avatar item-start>
																<img src="https://i.postimg.cc/BQsDwXtf/agriao-3465-l.jpg">
			</ion-avatar>
											</ion-item>
										</ion-list>
									</ion-col>

								</ion-row>
							</ion-grid>

							<p style="font-size: 1.2em;">
								<b>Importante: A maioria é rica em ferro, portanto, a definição de auxilio na formação de
								glóbulos brancos deve ser ressaltada para todos, fator importante para o sistema
								imunológico!</b>
							</p>




	</div>

</ion-content>