<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Fonte De Omega - 3</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/505sCDjh/24525.jpg">

	<div padding>



		<p style="font-size: 1.2em;">
			Considerados alimentos imunomoduladores , isso significa que auxilia na regulação de células
			do sistema imune e diminui citocinas que são responsáveis por regular, ativar, mediar a
			resposta imune do nosso organismo..
		</p>

		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/d1XJLVvF/peixe-6.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Peixes</b> </h2>
			</ion-item>
		</ion-list>

		<p style="font-size: 1.2em;">
			Alimentos ricos em Omega 3, ricos também em vitaminas do complexo B, acido fólico e iodo,
			rico em gorduras boas também.
		</p>

		<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

		<p style="font-size: 1.2em;">
			<li>Aliviar os sintomas de artrite.</li>
			<li>Prevenir doenças cardiovasculares.</li>
			<li> Melhorar a memória e prevenir Alzheimer.</li>
			<li> Ajuda a controlar o colesterol e doenças cardíacas.</li>
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Podendo ser largamente consumido tanto natural quanto
			em grelhados, cozidos, assados, entre outros.
		</p>



		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/G38yzB4k/326210-original.png">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Camarão</b> </h2>
			</ion-item>
		</ion-list>

		<p style="font-size: 1.2em;">
			Ricos em vitaminas do complexo B, principalmente vitamias como D e E, além de reduzir o
			colesterol do sangue.
		</p>

		<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

		<p style="font-size: 1.2em;">
			<li>Prevenir doenças cardiovasculares.</li>
			<li>Previne doenças neurológicas.</li>
			<li>Evita o Alzheimer.</li>
			<li>Combate doenças nas articulações.</li>
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Podendo ser utilizados em pratos tipicamente conhecidos como
			moquecas, acarajés, entre outros.
		</p>

	</div>

</ion-content>