<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Pimenta</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/4yVh8Hrq/18277.jpg">

	<div padding>


		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/nzfTkVhV/download-2.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Pimenta Vermelha</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">

			Surgiu a cerca de 7.000 a.c. Originária do México. Existem mais de 1.000 tipos de pimenta, com formatos,
			cores e sabores diferentes. Antigamente muito utilizada como analségico. Riquíssima em vitaminas A, C e E.
			Bom aliado para o sistema imunológico.
		</p>


		<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

		<p style="font-size: 1.2em;">
			<li>termogênico natural.</li>
			<li>Retarda o envelhecimento.</li>
			<li> Ajuda a prevenir ao câncer.</li>
			<li> Ajuda a controlar o colesterol.</li>
			<li> Previne doenças degenerativas.</li>

		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Dê preferência ao uso da pimenta vermelha durante as refeições, pois
			estimula o sistema nervoso, aumentando a liberação de adrenalina, cetocolamina e
			noradrenalina, diminuindo o apetite e a ingestão de calorias. Pode ser utilizada mais
			comumente em conservas ou em molhos.

			<!-- pimentão -->
			<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/sXfGybn9/piment-o-270503105.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>Pimentão</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">


				É um vegetal da família solanácea, originário do México e América Central.
				<b>Existem 3 tipos: amarelo, vermelho e verde.</b> Fortalece o sistema imune, devido à sua composição em
				antioxidantes,
				que combatem os radicais livres. Cada um possui maior concentração de diferentes
				nutrientes. <b>Vermelho:</b> rico em vitaminas B1 e B2. <b>Verde:</b> rico em fibras. <b>Amarelo:</b>
				sai em disparada no quesito vitamina C,

			</p>

			<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>



			<p style="font-size: 1.2em;">

				Suas vitaminas são importantes para o
				metabolismo e fundamentais para crianças. pois participam do crescimento,
				desenvolvimento e aprendizado. É pouco calórico, contém propriedads
				anticancerigena e esteroides e da vitamina D.

			</p>

			<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

			<p style="font-size: 1.2em;">
				Utilizado em diversos países e culinárias. Preparado como tempero,
				assado, e até em churrascos!
			</p>

			<ion-grid>
				<ion-row>

					<ion-col>
						<ion-list>
							<ion-item>
								<ion-avatar item-start>
									<img src="https://i.postimg.cc/fyn7cMD7/pimenta-natural-quente-vermelha-realista-97886-3051.jpg">
			</ion-avatar>
									<ion-avatar item-start>
										<img src="https://i.postimg.cc/fyn7cMD7/pimenta-natural-quente-vermelha-realista-97886-3051.jpg">
			</ion-avatar>
										<ion-avatar item-start>
											<img src="https://i.postimg.cc/fyn7cMD7/pimenta-natural-quente-vermelha-realista-97886-3051.jpg">
			</ion-avatar>
											<ion-avatar item-start>
												<img src="https://i.postimg.cc/fyn7cMD7/pimenta-natural-quente-vermelha-realista-97886-3051.jpg">
			</ion-avatar>
							</ion-item>
						</ion-list>
					</ion-col>

				</ion-row>
			</ion-grid>

			<p style="font-size: 1.2em;">
				<b>Muito utilizados antigamente de forma terapêutica, auxiliando em doenças e recuperando a imunidade.</b>
			</p>




	</div>


</ion-content>