<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Frutas Cítricas</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/bJHbynj7/6692.jpg">

	<div padding>

		<p style="font-size: 1.3em;">
			<b>O que são?</b>
		</p>

		<p style="font-size: 1.2em;">


			A palavra cítrica está relacionada às plantas que fazem parte do gênero Citrus. As frutas dessas plantas
			possuem altas concentrações de ácido ascórbico, vitamina C e antioxidante que aumentam a resistência do
			organismo. Esse ácido, inclusive, é o responsável pelo sabor ácido das frutas.


			<p style="font-size: 1.3em;">
				<b>Benefícios</b>
			</p>

	    <p style="font-size: 1.2em;">
				<li>Manter uma pele bonita e saudável.</li>
				<li>Ajudar a emagrecer, por terem poucas calorias.</li>
				<li>Diminuir a prisão de ventre, pois são ricas em fibras.</li>
				<li>Melhorar a hidratação do organismo, por serem ricas em água.</li>
				<li>Ajuda a aumentar a absorção de ferro, ajudando assim a combater a anemia.</li>
				<li>Ajuda na saúde das unhas e cabelos.</li>
        <li>Ajuda no fortalecimento do sistema imunológico.</li>
			</p>
			

			<p style="font-size: 1.3em;">
				<b>Como usar?</b>
			</p>


			<!-- laranja -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/wT43HVSK/3983.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>laranja</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">

			Pode ser usado de diversas formas, em doces, salgados e derivados, consumir a fruta diretamente garante uma absorção melhor de todos beneficios. 

			</p>

      <!-- tangerina -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/Y0hKx18g/27555.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>Tangerina</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">

			Muito versátil pode ser usado tanto em preparos doces, salgados como em bebidas também, seu consumo cru garante maior absorção dos nutrientes que contém. 

			</p>

      <!-- Limão -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/rF5cZ9MC/30038.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>limão</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">

			Pode ser usado de diversas formas, bebidas, em doces, salgados e como um bom tempero! 

			</p>

       <!-- Uva -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/rpwkmXWQ/1957.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>uva</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">

			Existe diversas receitas como em sucos, doces, salgados, até sua semente é aproveitada! 

			</p>

      <!-- Abacaxi -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/J0Zwg1V4/3937.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>Abacaxi</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">

			Utilizado com bebidas geladas e quentes, traz grandes beneficios, usado em doces e salgados e sua casca também é reaproveitada. 

			</p>

       <!-- Acerola -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/59vZfNTf/19213.jpg">
			</ion-avatar>
      <h2 style="font-size: 1.2em;"><b>Acerola e Morango</b> </h2>
      	</ion-item>
			</ion-list>
				
        <!-- Morango -->

				
			<p style="font-size: 1.2em;">

			Usados em diversas bebidas, seja em vitaminas oua té bebidas geladas, é bem versátil utilziado muito em doces, seu consumo cru garante maior absorção dos nutrientes.   

			</p>

      <!-- Maracuja -->

      		<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="https://i.postimg.cc/mD78WhDq/34594.jpg">
			</ion-avatar>
						<h2 style="font-size: 1.2em;"><b>Maracuja</b> </h2>
				</ion-item>
			</ion-list>
			<p style="font-size: 1.2em;">

			Usada em doces, salgados e em bebidas, existe grandes receitas come essa fruta, além do sabor traz grandes beneficios ao sistema imunológico. 

			</p>

	</div>
</ion-content>