<ion-header>
  <ion-navbar color="primary">
    
    <ion-title>

    <p>Frutas Cítricas</p>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

<img src="https://i.postimg.cc/bJHbynj7/6692.jpg">

<ion-content padding > 

<p style="font-size: 1.3em;" >
  <b>1 - O que são?</b>
  </p>

   <p style="font-size: 1.2em;" >


    A palavra cítrica está relacionada às plantas que fazem parte do gênero Citrus. As frutas dessas plantas possuem altas concentrações de ácido ascórbico, vitamina C e antioxidante que aumentam a resistência do organismo. Esse ácido, inclusive, é o responsável pelo sabor ácido das frutas.
    

  <p style="font-size: 1.3em;" >
  <b>2 - Benefícios</b>
  </p>

  <p style="font-size: 1.2em;"> - Manter uma pele bonita e saudável. </p>
  <p style="font-size: 1.2em;"> - Ajudar a emagrecer, por terem poucas calorias.</p>
  <p style="font-size: 1.2em;"> - Diminuir a prisão de ventre, pois são ricas em fibras.</p>
  <p style="font-size: 1.2em;"> - Melhorar a hidratação do organismo, por serem ricas em água.</p>
  <p style="font-size: 1.2em;"> - Ajuda a aumentar a absorção de ferro, ajudando assim a combater a anemia.</p>
  <p style="font-size: 1.2em;"> - Ajuda na saúde das unhas e cabelos.</p>

     <p style="font-size: 1.3em;" >
    <b>3 - Como usar?</b>
    </p>

  <p style="font-size: 1.2em;"> Veja como usar as 10 frutas cítricas mais consumidas</p>


<!-- ?? ion content da parte de cima ???? -->
  
</ion-content>

<!-- frutinhas  -->

<ion-grid >
  <ion-row>
    <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/wT43HVSK/3983.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Laranja </h2>
		</ion-item>
	</ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/Y0hKx18g/27555.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Tangerina </h2>
		</ion-item>
	</ion-list>
    </ion-col>

     </ion-row>
</ion-grid>

<ion-grid >
  <ion-row>

      <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/rF5cZ9MC/30038.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Limão </h2>
		</ion-item>
	</ion-list>
    </ion-col>

       <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/rpwkmXWQ/1957.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Uva </h2>
		</ion-item>
	</ion-list>
    </ion-col>

       </ion-row>
</ion-grid>

<ion-grid >
  <ion-row>

       <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/J0Zwg1V4/3937.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Abacaxi </h2>
		</ion-item>
	</ion-list>
    </ion-col>

       <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/59vZfNTf/19213.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Acerola </h2>
		</ion-item>
	</ion-list>
    </ion-col>

      </ion-row>
</ion-grid>


<ion-grid >
  <ion-row>

       <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/4x4Mvvd3/16748.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Morango </h2>
		</ion-item>
	</ion-list>
    </ion-col>

       <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/fLdgWBH8/OAI2CJ0.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >kiwi </h2>
		</ion-item>
	</ion-list>
    </ion-col>

       </ion-row>
</ion-grid>

<ion-grid >
  <ion-row>

   <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/mD78WhDq/34594.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Maracuja </h2>
		</ion-item>
	</ion-list>
    </ion-col>

       <ion-col>
      <ion-list>
		<ion-item >
			<ion-avatar item-start>
				<img src="https://i.postimg.cc/vHYXCYdq/5500.jpg">
			</ion-avatar>
      	<h2 style="font-size: 1.2em;" >Ameixa </h2>
		</ion-item>
	</ion-list>
    </ion-col>
     

    
      </ion-row>
</ion-grid>


</ion-content>

