<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Oleaginosas</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/6Q5TdvHY/522.jpg">

	<div padding>

		<p style="font-size: 1.2em;">
			<b>Beneficios:</b>ricos em vitamina E, retardam a debilitação do sistema imunológico com a chegada da
			terceira idade.
		</p>

		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/m2YrJwJm/UT8-SCELXvha-XXag-OFb-XJ-jpg-350x350.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Macadamia </b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Ricos em zinco, aliado com as proteínas e gorduras necessárias para a formação de uma boa alimentação, em
			conjunto são largamente úteis ao sistema imune.
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Por ser carnes que devem ser bem cozidas, são utilizadas em molho ou assados.
		</p>

		<!-- avela -->

		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/9fMF4jMk/AVELA-NATURAL.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Avelã </b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Aliada com sua composição rica em vitamina B e selênio, grande antioxidante poderoso em retardar a
			diminuição da ação do sistema referido.
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Por ser carnes que devem ser bem cozidas, são utilizadas em molho ou assados.
		</p>

    	<!-- Óleos de girassol, milho e canola  -->

		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/QNpsdMmt/oleo-girassol-e1410910586418.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Óleos de girassol, milho e canola  </b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Um dos compostos de mais fácil acesso e largamente utilizados na produção e cozinha cotidiana, tornando-se um componente poderoso e versátil na utilização diária.
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Por ser carnes que devem ser bem cozidas, são utilizadas em molho ou assados.
		</p>


	</div>
</ion-content>