<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Exercícios</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/SN1KfJKT/500x500-cropper-with-loop-0.gif">

	<div padding>

		<p style="font-size: 1.3em;">
			<b>Exercicios de fisioterapia para fortalecimento do sistema respiratório</b>.
		</p>

		<p style="font-size: 1.2em;"> Sabemos que um dos orgãos que é atingido são os pulmões, e para complementar
			juntamente com boa alimentação para o sistema imunológico, exercicios pulmonares são eficientes na luta
			contra o COVID-19.

			<p style="font-size: 1.3em;"><b> 1.	Respiração através do diafragma</b> </p>

			<img src="https://i.postimg.cc/fyfGDw5S/Capturar.png">

			<p style="font-size: 1.2em;">

				<li>Relaxar a parte superior do corpo e sobrepor a mão sobre o abdômen.</li>

				<li>Em seguida, respire profundamente e faça com que o abdômen infle.</li>

				<li>Percebera se está correto quando expirar e seu abdômen ficar contraído.</li>

				<li> Indicado realizar de 3 vezes a 5 vezes.</li>

			</p>

			<!--  -->

			<p style="font-size: 1.3em;"><b>2.	Braços erguidos e respiração</b> </p>

			<img src="https://i.postimg.cc/QxBZPWWv/104a90be712f48a0c75794787204d0b3-w640-h360-cp-sc.jpg">

			<p style="font-size: 1.2em;">

				<li>Posicione-se com a coluna ereta.</li>

				<li>Levante seus braços fazendo com que eles fiquem alinhados com a orelha.</li>

				<li>Puxe o ar pela boca enchendo bem o tórax.</li>

				<li>Solte o ar pela boca ao mesmo tempo em que abaixa os braços.</li>

				<li>Indicado realizar 2 séries com 10 repetições.</li>

			</p>

			<!--  -->

			<p style="font-size: 1.3em;"><b>3.	Deitado e respirando </b> </p>

			<img src="https://i.postimg.cc/3NwXxhHb/2875942-resize-1500-1500.jpg">

			<p style="font-size: 1.2em;">

				<li>Posicione-se deitado com a barriga para cima.</li>

				<li>Com uma das pernas dobradas, eleve uma das pernas.</li>

				<li>Enquanto uma das pernas é elevada inspire até que encha seu tórax.</li>

				<li>Assim que a perna vai descendo va soltando o ar pela boca.</li>

				<li>Indicado a realização de 2 séries com 5 movimentos em cada perna.</li>

			</p>

			<!--  -->

			<p style="font-size: 1.3em;"><b>4.	Respiração 3x3 </b> </p>

			<img src="https://i.postimg.cc/XqFCJYzL/unnamed.jpg">

			<p style="font-size: 1.2em;">

				<li>Inspire ou puxe o ar tres vezes seguidas fazendo com que ela seja fracionada em 3 partes.</li>

				<li>Expire ou solte o ar tres vezes seguidas fazendo com que ela seja fracionada em 3 partes.</li>

				<li>Realize essa serie em até 2 vezes de 10 repeticoes.</li>
			</p>

			<!--  -->

			<p style="font-size: 1.3em;"><b>5.	Respiração Pausada </b> </p>

			<img src="https://i.postimg.cc/FFYrSKxF/exercicios-de-respiracao-0-1200x738.png">

			<p style="font-size: 1.2em;">

				<li>Inspire o ar pelo nariz fazendo com que ele fique preso dentro dos seus pulmões de 5 a 10 segundos .
				</li>

				<li>Expire o ar de uma só vez.</li>

				<li>Faça duas vezes por sessão de treinamento.</li>
			</p>

			<!-- Desafio kids -->


			<ion-grid>
				<ion-row>

					<ion-col>
						<ion-list>
							<ion-item>
								<ion-avatar item-start>
									<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
									<ion-avatar item-start>
										<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
										<ion-avatar item-start>
											<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
											<ion-avatar item-start>
												<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
							</ion-item>
						</ion-list>
					</ion-col>

				</ion-row>
			</ion-grid>



			<p style="font-size: 1.3em;"><b>DESAFIO ESPECIAL PARA AS CRIANÇAS: </b> </p>



			<p style="font-size: 1.2em;">

				Como sabemos, não e tão fácil fazer com que as crianças realizem os exercícios com o mesmo entendimento
				que os adultos, mas caso você deseje orientar seu pequeno, segue uma dica de desafio que pode propor a
				ele apenas com o <b>uso de uma cadeira e bexiga.</b>

			</p>

      <p style="font-size: 1.2em;">

				<li>Pegue uma cadeira.</li>

				<li>Oriente a criança a sentar-se encostando as costas na parte de apoio da cadeira.</li>

				<li>De a bexiga e a desafie.</li>

				<li>Puxar o ar e assoprar a bexiga o mais lento possivel até que encha duas bexigas .</li>

				<li>Proponha o desafios todos os dias, e cofnorme ele for se superando pode oferecer prêmios a ele.</li>
			</p>



			<ion-grid>
				<ion-row>

					<ion-col>
						<ion-list>
							<ion-item>
								<ion-avatar item-start>
									<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
									<ion-avatar item-start>
										<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
										<ion-avatar item-start>
											<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
											<ion-avatar item-start>
												<img src="https://i.postimg.cc/DZ3nqQfq/balo-bexiga-colorida-efeito-neon-fluorescente-n9-c-30-unid-D-NQ-NP-839788-MLB32032107481-082019-F.jpg">
			</ion-avatar>
							</ion-item>
						</ion-list>
					</ion-col>

				</ion-row>
			</ion-grid>
	</div>
</ion-content>