<ion-header>
  <ion-navbar color="primary">
    <ion-title>

    <p align="center">Sistema Fortalecido</p>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
<img  src="https://i.postimg.cc/C16JVJ3D/3989104.jpg">

  <div padding>
  <h2 align="center"> O que é o sistema imunológico? </h2>
<!-- Função Botão! -->
  <p style="font-size: 1.2em;" >
   O sistema imunológico é um conjunto de fatores que combinam entre si e são responsáveis pela defesa do nosso organismo. </p> 

   <img  src="https://j.gifs.com/JygG1o.gif">
   
   <p style="font-size: 1.2em;" >Funcionam praticamente como um escudo nos protegendo contra parasitas indesejáveis (conhecidos como antígenos) produzindo anticorpos específicos para o tratamento de patologias que venham nos adoecer.
  </p>

<h2 style="font-size: 1.2em;"> Abaixo segue recomendações que pode ajudar no fortalecimento do sistema imunológico </h2>

<!-- Função Botão!--

<img src="https://i.postimg.cc/m2bQjycz/frase4-editavel.jpg" >

<!-- Função frase separada!
<img src="https://i.postimg.cc/43CBTr1H/frase1.png" >

<img src="https://i.postimg.cc/05HGsTk5/frase2.png" >

<img src="https://i.postimg.cc/Pq2pMDNf/frase3.png" >

<img src="https://i.postimg.cc/sfZP3nvp/frase4.png" >

<!-- Fim função frase separada--

  <img src="https://i.postimg.cc/fRNzFb0G/base.png" (click)="Descobrir()" >
  
<!-- Fim Função Botão!-->


<!-- Bonus card -->
  <ion-card >
  <img  src="https://i.postimg.cc/k5Sfdxnh/alimenta-o.png" width="100" height="250" (click)="Alimento()"/>
</ion-card>
<!-- Fim Vitaminas card-->


<ion-grid >
  <ion-row>
    <ion-col>
      <div>
      <img  src="https://i.postimg.cc/VkrFjjbL/exercicios.png" width="200" height="150" (click)="Exercicio()"/>
      </div>
    </ion-col>
    <ion-col>
      <div>
       <img  src="https://i.postimg.cc/prcDjTWF/bonus.png" width="200" height="150" (click)="Vitamina()"/>
      </div>
    </ion-col>
    
      </ion-row>
</ion-grid>


</div>
</ion-content>
