<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Alho</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/4NjS7D53/16810.jpg">

	<div padding>


		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/d1KPyYMr/o-poder-do-alho.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Alho</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">

			Planta de origem asiática, composta por folhas escamiformes. Existem 2 tipos:
			banco e roxo.
		</p>

		<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

		<p style="font-size: 1.2em;">
			Contém propriedades terapêuticas. Inibe o crescimento e proliferação de bactérias, fungos e vírus. , tem
			ação anti-inflamatória, <b>estimula funções respiratórias</b> e mantêm o cérebro saudável, além de ser um
			grande
			potencializador do sistema imune.
		</p>

		<p style="font-size: 1.2em;">

			<li>Reduz os níveis de colesterol e pressão sanguínea.</li>
			<li> Ajuda na prevenção do câncer de cólon.</li>
			<li> Previne Alzheimer e demência.</li>

		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Para obter seus benefícios, deve-se consumir no mínimo 1 dente de alho
			por dia. Uma dica é, picar ou amassa-lo e deixar descansar por 10 minutos, pois isso
			aumenta sua alicina (principal responsável por suas propriedades). Pode ser utilizado
			como tempero e até mesmo em chá.
		</p>

		<ion-grid>
			<ion-row>

				<ion-col>
					<ion-list>
						<ion-item>
							<ion-avatar item-start>
								<img src="https://i.postimg.cc/wvbXr66s/download-3.jpg">
			</ion-avatar>
								<ion-avatar item-start>
									<img src="https://i.postimg.cc/wvbXr66s/download-3.jpg">
			</ion-avatar>
									<ion-avatar item-start>
										<img src="https://i.postimg.cc/wvbXr66s/download-3.jpg">
			</ion-avatar>
										<ion-avatar item-start>
											<img src="https://i.postimg.cc/wvbXr66s/download-3.jpg">
			</ion-avatar>
						</ion-item>
					</ion-list>
				</ion-col>

			</ion-row>
		</ion-grid>

		<p style="font-size: 1.2em;">
			<b>Muito utilizado antigamente de forma terapêutica, auxiliando em doenças e recuperando a imunidade.</b>
		</p>

	</div>

</ion-content>