<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Ricos Em Zinco</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/MZ0fRq5P/alimentos-ricos-em-zinco-intro.jpg">

	<div padding>

		<p style="font-size: 1.3em;">
			<b>Beneficios:</b> Mineral muito importante para nosso organismo, esse nutriente que age na diminuição e
			combate de doenças que abatem o sistema imunológico, como síndromes gripais.
		</p>

		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/q7ZSjPGW/por-que-a-carne-de-boi-e-vermelha-e-a-do-frango-e-branca-667x400.jpgg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Cortes frango e porco</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Ricos em zinco, aliado com as proteínas e gorduras necessárias para a formação de uma boa alimentação, em
			conjunto são largamente úteis ao sistema imune.
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Por ser carnes que devem ser bem cozidas, são utilizadas em molho ou assados.
		</p>

		<!-- Semente de abobora -->
		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/wxD4mynC/download.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Semente de abobora</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Sendo um dos itens com a maior quantidade de zinco, cerca de 4,2 mg, encontra-se emcom grande quantidade.
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Podendo ser usadas como petiscos e até participar de preparações que ressaltem o gosto da abóbora.
		</p>

		<!-- Amendoas -->
		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/qBGXr8Pv/eu-atleta-coluna-cris-oleginosas.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Amendoas,castanhas do Pará e Caju </b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">


			Ìcone comum ao grupo de oleaginosas e ricas em zinco, formam par perfeito de combate a doenças e síndromes gripais.
		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Utilziadas como petisco, pratos salgados e doces e triturado junto a água podem ser grandes substitutos do leite de ordem animal.
		</p>


	</div>

</ion-content>