<ion-header>
  <ion-navbar color="primary">
    
    <ion-title>

    <p>Gengibre</p>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/vHnvjcrQ/5090.jpg">


<div padding>


		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/Wz6yrFmP/download-1.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Gengibre</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">

			O gengibre é uma planta herbácea, originária da Índia e China. Conhecida também como mangarataia. Contém propriedades anti-inflamatórias, analségica e anticoagulante, além de um ótimo aliado na melhora do sistema imuni.
		</p>

			<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>

			<p style="font-size: 1.2em;">
				<li>Ajuda no emagrecimento.</li>
				<li>Trata a má digestão, azia e enjoo.</li>
				<li> Ajuda no tratamento da gastrite.</li>
        <li> Ajuda no tratamento da artrite.</li>
				<li> Ajuda no tratamento do resfriado.</li>
				<li> Ajuda no tratamento de pressão e colesterol alto.</li>
				<li> Trata dores musculares.</li>
			</p>

			<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

			<p style="font-size: 1.2em;">
				Pode ser utilizado em sucos, chás e até mesmo como tempero.
			</p>

      		<ion-grid>
								<ion-row>

									<ion-col>
										<ion-list>
											<ion-item>
												<ion-avatar item-start>
													<img src="https://i.postimg.cc/RVvK4sF0/2020518-2858.jpg">
			</ion-avatar>
													<ion-avatar item-start>
														<img src="https://i.postimg.cc/RVvK4sF0/2020518-2858.jpg">
			</ion-avatar>
														<ion-avatar item-start>
															<img src="https://i.postimg.cc/RVvK4sF0/2020518-2858.jpg">
			</ion-avatar>
															<ion-avatar item-start>
																<img src="https://i.postimg.cc/RVvK4sF0/2020518-2858.jpg">
			</ion-avatar>
											</ion-item>
										</ion-list>
									</ion-col>

								</ion-row>
							</ion-grid>

							<p style="font-size: 1.2em;">
								<b>Muito utilizado antigamente de forma terapêutica, auxiliando em doenças e recuperando a imunidade.</b>
							</p>

</div>
</ion-content>