<ion-header>
	<ion-navbar color="primary">

		<ion-title>

			<p>Cebola</p>

		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<img src="https://i.postimg.cc/W34nf8nK/17295.jpg">

	<div padding>


		<ion-list>
			<ion-item>
				<ion-avatar item-start>
					<img src="https://i.postimg.cc/7Yz3B8jf/tipos-de-cebolas-1594672216755-v2-450x337.jpg">
			</ion-avatar>
					<h2 style="font-size: 1.2em;"><b>Cebola</b> </h2>
			</ion-item>
		</ion-list>
		<p style="font-size: 1.2em;">

			A cebola é uma hortaliça, originária da Ásia central. <b>Existem vários tipos</b>,
			sendo as mais consumidas no brasil a cebola pera e a cebola roxa.São ricas em nutrientes que aumentam a
			imunidade e tem
			propriedades anti-inflamatórias. Rica em vitaminas e minerais.
		</p>

		<p style="font-size: 1.3em;"> <b>Outros benefícios</b> </p>


		<p style="font-size: 1.2em;">

			<li>Ajuda no emagrecimento.</li>
			<li>Melhora a circulação sanguínea.</li>
			<li>Ajuda no funcionamento do instestino.</li>
			<li>Melhora a saúde da pele.</li>
      <li>Ajuda a combater a hipertensão.</li>
      <li>Equilibra os níveis de glicemia.</li>

		</p>

		<p style="font-size: 1.3em;"> <b>Como utilizar</b> </p>

		<p style="font-size: 1.2em;">
			Muito utilizada como tempero, em saladas, carnes, e como petiscos.
		</p>

		<ion-grid>
			<ion-row>

				<ion-col>
					<ion-list>
						<ion-item>
							<ion-avatar item-start>
								<img src="https://i.postimg.cc/HnX2RVBP/cebola.jpg">
			</ion-avatar>
								<ion-avatar item-start>
									<img src="https://i.postimg.cc/HnX2RVBP/cebola.jpg">
			</ion-avatar>
									<ion-avatar item-start>
										<img src="https://i.postimg.cc/HnX2RVBP/cebola.jpg">
			</ion-avatar>
										<ion-avatar item-start>
											<img src="https://i.postimg.cc/HnX2RVBP/cebola.jpg">
			</ion-avatar>
						</ion-item>
					</ion-list>
				</ion-col>

			</ion-row>
		</ion-grid>

		<p style="font-size: 1.2em;">
			<b>Muito utilizado antigamente de forma terapêutica, auxiliando em doenças e recuperando a imunidade.</b>
		</p>

	</div>

</ion-content>