<ion-header>
  <ion-navbar color="primary">
    
    <ion-title>

    <p>Lavagem das mãos</p>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding > 
<!-- Titulo!-->
  <p align="center" style="font-size: 1.3em;" ><b>Higienização das mãos</b></p>

<!-- texto sobre!-->
    <p style="font-size: 1.1em;" >
  Agora vamos aprender como higienizar as mãos de forma correta, pois  a higienização é o primeiro passo a se prevenir de doenças. Base segundo Organização Mundial De Saúde (OMS).
  </p>

<!-- 1  -->
  <p  style="font-size: 1.3em;" >
  <b>1 - Molhe as mãos.</b> </p>
  <p  style="font-size: 1.1em;" >Molhe bem as mãos para que seja possivel uma boa higienização. A temperatura da água não faz diferença, porém a água extremamente quente pode irritar a pele. </p>
  
  <ion-card>
  <img src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand01.gif" width="100" height="350" />

  </ion-card>

<!-- 2  -->
   <p style="font-size: 1.3em;" >
  <b>2 - Aplique o sabão.</b> </p>
  <p style="font-size: 1.1em;" >Coloque o sabão suficiente para as duas mão. Sabão comum pode ser usado. </p>

<ion-card>
    <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand02.gif" width="100" height="350" />

    </ion-card>

<!-- 3  -->
   <p style="font-size: 1.3em;" >
  <b>3 - Esfregue as mãos.</b> </p>
  <p style="font-size: 1.1em;" >Esfregando-as de mãos dadas. </p>

<ion-card>
     <img  src="  https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand03.gif" width="100" height="350" />
 </ion-card>

<!-- 4  -->
  <p style="font-size: 1.3em;" >
  <b>4 - Entrelace os dedos para lavar a palma.</b> </p>
  <p style="font-size: 1.1em;" >Direita nas costas da mão esquerda, entrelaçando os dedos e, em seguida, alterne a esquerda para a direita. </p>

<ion-card>
      <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand04.gif" width="100" height="350" />
 </ion-card>

<!-- 5  -->
 <p style="font-size: 1.3em;" >
  <b>5 - Enfregue o punho.</b> </p>
  <p style="font-size: 1.1em;" >Higienize o punho direito com a palma da mão esquerda em movimentos circulares, alterne a esquerda para a direita. </p>

<ion-card>
       <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand05.gif" width="100" height="350" />
 </ion-card>

<!-- 6  -->
 <p style="font-size: 1.3em;" >
  <b>6 - Enfregue os dedos.</b> </p>
  <p style="font-size: 1.1em;" >Esfregue os dedos de forma entrelaçadas. </p>

<ion-card>
        <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand06.gif" width="100" height="350" />
 </ion-card>

<!-- 7  -->
  <p style="font-size: 1.3em;" >
  <b>7 - Enfregue as costas dos dedos.</b> </p>
  <p style="font-size: 1.1em;" >Esfregue a parte de trás dos dedos na palma da outra mão e vice e versa. </p>
<ion-card>
         <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand07.gif" width="100" height="350" />
 </ion-card>

<!-- 8  -->
  <p style="font-size: 1.3em;" >
  <b>8 - Enfregue os polegares.</b> </p>
  <p style="font-size: 1.1em;" >Esfregue com a outra mão fechada, repetir para o outro polegar. </p>
<ion-card>
           <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand08.gif" width="100" height="350" />
 </ion-card>


<!-- 9  -->
  <p style="font-size: 1.3em;" >
  <b>9 - Enfregue os dedos de forma fechada.</b> </p>
  <p style="font-size: 1.1em;" >Esfregue com a mão fechada na palma da outra mão, repetir com a outra mão. </p>
 <ion-card>
      <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand09.gif" width="100" height="350" />
 </ion-card>

<!-- 10  -->
<p style="font-size: 1.3em;" >
  <b>10 - Enxágue as mãos.</b> </p>
  <p style="font-size: 1.1em;" >Enxágue em água corrente de forma que a água caia na pontas dos dedos e desça. </p>
 
 <ion-card>
          <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand10.gif" width="100" height="350" />
 </ion-card>

<!-- 11  -->
<p style="font-size: 1.3em;" >
  <b>10 - Seque as mãos.</b> </p>
  <p style="font-size: 1.1em;" >Seque bem com uma toalha de uso único ou secador de ar, nao chacoalhar as mãos pois essa ação a contamina novamente. Lembre-se de usar uma toalha para fechar a torneira, pois ela pode estar contaminada. </p>
 
 <ion-card>
      <img  src="https://arte.estadao.com.br/brasil/geral/coronavirus-dicas/media/images/hand11.gif" width="100" height="350" />

</ion-card>

<!-- carinha vermelho  -->
<ion-col col-md-6>
<img  src="https://i.postimg.cc/YCwznTfX/lave-as-m-os.png"/>
</ion-col>

</ion-content>